@use './../variables/colors.scss' as c;

body {
    cursor: none; // remove during development
    position: relative;
    color: c.$white;
    background: c.$body-gradient;
}

::-webkit-scrollbar {
  display: none;
}