@use '../../style/variables/colors.scss' as c;
@use '../../style/variables/fonts.scss' as f;
@use '../../style/mixins/breakpoints' as *;

.navigation {

    &__menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 80px 18px;
        justify-content: end;
        align-items: end;

        @include break(tablet) {
            padding: 96px 42px;
        }

        @include break(laptop) {
            padding: 104px 50px;
        }

        @include break(desktop) {
            padding: 112px 56px;
        }

        a {
            color: c.$green;
            font-family: f.$primary-font;
            font-size: f.$navigation-text-mobile;

            @include break(tablet) {
                font-size: f.$navigation-text-tablet;
            }
    
            @include break(laptop) {
                font-size: f.$navigation-text-laptop;
            }
    
            @include break(desktop) {
                font-size: f.$navigation-text-desktop;
            }

            &:hover {
                cursor: pointer;
                color: c.$white;
            }
        }
    }
}
