$primary-font: "Koulen", serif;
$secondary-font: "Overpass", serif;

$greeting-mobile: 48px;
$greeting-tablet: 64px;
$greeting-laptop: 96px;
$greeting-desktop: 112px;

$title-mobile: 32px;
$title-tablet: 64px;
$title-laptop: 96px;
$title-desktop: 112px;

$text-mobile: 12px;
$text-tablet: 16px;
$text-laptop: 16px;
$text-desktop: 20px;

$button-text-mobile: 16px;
$button-text-tablet: 16px;
$button-text-laptop: 16px;
$button-text-desktop: 16px;

$navigation-text-mobile: 48px;
$navigation-text-tablet: 64px;
$navigation-text-laptop: 96px;
$navigation-text-desktop: 112px;