@use '../variables/colors' as c;
@use '../variables/fonts.scss' as f;
@use '../mixins/breakpoints' as *;

.swiper {
    margin: 0;
    width: 100%;
    height: calc(100vh - 144px);
    
    @include break(tablet) {
        height: calc(100vh - 224px);
    }

    @include break(laptop) {
        height: calc(100vh - 282px);
    }

    @include break(desktop) {
        height: calc(100vh - 328px);
    }
}

.swiper-wrapper {
    margin: 0;
}

.swiper-slide {
    background-color: c.$dark-grey;
    color: c.$white;
    // padding: 16px;
    // height: calc(100% - 8px) !important;
}

.swiper-button-prev {
    display: none !important;

    @include break(laptop) {
        display: flex !important;
        color: c.$white !important;
        top: 32px !important;
        left: unset !important;
        right: 40px !important;

        &::after {
            font-size: 32px !important;
        }
    }
}

.swiper-button-next {
    display: none !important;
    
    @include break(laptop) {
        display: flex !important;
        color: c.$white !important;
        top: 32px !important;
        right: 16px !important;

        &::after {
            font-size: 32px !important;
        }
    }
}

.swiper-scrollbar {
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    height: 2px !important;
}

.swiper-scrollbar-drag {
    background-color: c.$white !important;
    border-radius: 0 !important;
    height: 2px !important;
}