@use '../../style/variables/colors' as c;
@use '../../style/variables/fonts' as f;
@use '../../style/mixins/breakpoints' as *;


.contact {
    display: flex;
    flex-direction: column;
    color: c.$white;
    height: 100vh;
    justify-content: center;

    &__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: f.$secondary-font;
        text-align: center;
        font-size: f.$contact-text-mobile;
        width: 100%;
        margin: auto;

        &--mail {
            font-weight: 100;
            width: fit-content;

            &:hover {
                cursor: pointer;
                color: c.$green;
            }
        }

        &--linkedin {
            font-weight: bold;
            width: fit-content;
            
            &:hover {
                cursor: pointer;
                color: c.$green;
            }
        }
    }
}

