@use '../../style/variables/colors' as c;
@use '../../style/variables/fonts' as f;
@use '../../style/mixins/breakpoints' as *;


.contact {
    display: flex;
    flex-direction: column;
    color: c.$white;
    height: 100vh;

    &__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: f.$secondary-font;
        text-align: center;
        font-size: f.$contact-text-mobile;
        width: 100%;
        background-color: c.$dark-grey;
        height: calc(100vh - 144px);

        @include break(tablet) {
            height: calc(100vh - 224px);
        }
    
        @include break(laptop) {
            font-size: f.$contact-text-laptop;
            height: calc(100vh - 282px);
        }
    
        @include break(desktop) {
            height: calc(100vh - 328px);
        }

        &--mail {
            font-weight: 100;
            width: fit-content;

            &:hover {
                cursor: pointer;
                color: c.$green;
            }
        }

        &--linkedin {
            font-weight: bold;
            width: fit-content;
            
            &:hover {
                cursor: pointer;
                color: c.$green;
            }
        }
    }
}

