@use '../../style/variables/colors.scss' as c;
@use '../../style/variables/fonts.scss' as f;
@use '../../style/mixins/breakpoints' as *;

.project-slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 100%;
    font-family: f.$secondary-font;
    padding: 16px 16px 120px 16px;
    position: relative;
    overflow: hidden;
    gap: 24px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: c.$dark-grey;
        opacity: .7;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    @include break(tablet) {
        padding: 40px 40px 120px 40px;
    }

    @include break(laptop) {
        padding: 48px 48px 120px 48px;
    }

    @include break(desktop) {
        padding: 56px 56px 120px 56px;
    }

    &--visibuilt::before {
        background-image: url('../../assets/images/vb.jpg');
    }

    &--morgenfest::before {
        background-image: url('../../assets/images/mf.jpg');
    }

    &__description {
        max-width: 240px;
        text-align: right;
        font-weight: lighter;
        font-size: f.$text-mobile;

        @include break(tablet) {
            max-width: 480px;
            font-size: f.$text-tablet;
        }
    
        @include break(laptop) {
            font-size: f.$text-laptop;
        }
        
        @include break(desktop) {
            max-width: 560px;
            font-size: f.$text-desktop;
        }
    }

    &__link {
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        width: fit-content;
        font-size: f.$project-link-mobile;

        &:hover {
            color: c.$green;
        }

        @include break(tablet) {
            font-size: f.$project-link-tablet;
        }

        @include break(laptop) {
            font-size: f.$project-link-laptop;
        }
        
        @include break(desktop) {
            font-size: f.$project-link-desktop;
        }
    }

    &__logo {
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        width: 100%;
        height: 100%;
        max-height: 40px;
        margin-top: auto;

        @include break(tablet) {
            max-height: 56px !important;
        }
    
        @include break(laptop) {
            max-height: 64px !important;
        }
        
        @include break(desktop) {
            max-height: 80px !important;
        }

        &--visibuilt {
            background-image: url('../../assets/icons/visibuilt.svg');
            max-height: 48px;
        }

        &--morgenfest {
            background-image: url('../../assets/icons/morgenfest.svg');
        }
    }
}