.burger-menu {
    position: fixed;
    right: 22px;
    bottom: 22px;
    color: white;

    .hamburger-react {
        &:hover {
            div {
                transition: 0s !important;
                background-color: white !important;
            }
        }
    }
}