@use '../../style/variables/colors' as c;
@use '../../style/mixins/breakpoints' as *;

.burger-menu {
    margin-left: auto;
    
    .hamburger-react {
        &:hover {
            div {
                transition: 0s !important;
                background-color: c.$white !important;
            }
        }
    }
}