@use '../../style/variables/colors.scss' as c;
@use '../../style/variables/fonts.scss' as f;
@use '../../style/mixins/breakpoints' as *;

.about-me {
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 80px);
    padding: 16px 16px 120px 16px;
    overflow: auto;

    @include break(tablet) {
        height: calc(100dvh - 104px);
        padding: 40px 40px 120px 40px;
    }

    @include break(laptop) {
        height: calc(100dvh - 112px);
        padding: 48px 48px 120px 48px;
    }

    @include break(desktop) {
        height: calc(100dvh - 120px);
        padding: 56px 56px 120px 56px;
    }

    &__meta {
        color: c.$white;
        font-family: f.$secondary-font;
        font-weight: lighter;

        p {
            margin-bottom: 24px;
        }
    }

    &__skill-list {
        list-style: disc;
        list-style-position: inside;
        margin-bottom: 16px;

        li {
            &::marker {
                color: c.$green;
            }
        }
    }
}